body {
    background-color: #1F1F1F;
}

body.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1,
h2 {
    text-align: center;
    color: #FEFDFB;
    font-family: "Garamond", "Times New Roman", Times, serif;
}

ol, a {
    color: #FEFDFB;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

li {
    color: #FC93AD;
}
p {
    color: #FEFDFB;
}

.odin {
    color: #FEFDFB;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 16px;
    padding: 30px;
    text-align: center;
    list-style: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button {
    display: block;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 10px;
    color: #EEEEEE;
    border-radius: 10px; 
    cursor: pointer;
    width: 250px;
    height: 150px;
    color: #FEFDFB;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 18px;
}

.button:hover {
    background-color: #FFBBCC;
}

.chow-mein {
    background-color: #FC93AD;
}

.pizza {
    background-color: #D65D7B;
}

.sushi {
    background-color: #B03251;
}